@{
    ViewBag.Title = "FormValid";
}

<form action="doaction.asp" method="post" onsubmit="return check(this)">
    用户名：<input type="text" name="username" id="username"/>
    密码：<input type="password" name="password" id="password">
    邮箱：<input type="text" name="email" id="email" />
    <input type="submit" value="注册" />
</form>
<script type="text/javascript">
    function check() {
        var username = document.getElementById("username").value;
        if (!/^[a-zA-Z0-9_]+$/.test(username)) {
            alert("用户名不合法");
            return false;
        }
        var password = document.getElementById("password").value;
        //插件：表单验证插件
        //validform.rjboy.cn
    }
</script>